.card-title {
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  